* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.outer-box {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to left, #3ed8ff, #a8f5ff);
}

.inner-box {
  width: 400px;
  margin: 0 auto;
  position: relative;
  top: 40%;
  transform: translateY(-50%);
  padding: 20px 40px;
  background-color: #ffffff09;
  background: linear-gradient(to top, #ffffffff, #ffffff33);
  backdrop-filter: blur(8px);
  border-radius: 8px;
  box-shadow: 3px 3px 7px;
  z-index: 2;
}

.signup-header h1 {
  font-size: 2.5rem;
  color: #5b6669cb;
}

.signup-form {
  margin: 20px 0;
}

.signup-form p label {
  display: block;
  font-size: bold;
}

.signup-form p input {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  font-size: 1rem;
  margin-top: 4px;
}

.signup-form p input[type="submit"] {
  background-color: #1bc4ee;
  border: none;
  color: white;
  cursor: pointer;
}

.signup-form p input[type="submit"]:hover {
  background-color: #0781a0;
}

.signup-footer p {
  color: #555;
  text-align: center;
}

.circle {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background: linear-gradient(to top right, #ffffff33, #ffffffff);
  position: absolute;
}

.c1 {
  top: 100px;
  left: 40px;
}

.c2 {
  bottom: 200px;
  right: 50px;
}
